@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #0d1117;
}

a, a:hover{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

nav{
    background: #161b22;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: #b3b9be;

}

.logo{
    flex: 1;
}

.logo img{
    width: 60px;
    margin-top: 5px;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

@media screen and (max-width:600px) {
    nav{
        display: block;
        position: relative;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.isactive{
    color: rgb(0, 136, 255);
}

h1{
    color: #fff;
    text-align: center;
}

.form{
    width: 200px;
    padding: 20px;
    position:relative;
    text-align: center;
    margin: auto;
    display: block;
}

input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

textarea{
    width: 100%;
}

.header-form{
    color: #fff;
}