@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease all .5s;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #0d1117;
    min-width: 300px;
}

a, a:hover{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

nav{
    background: #161b22;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: #b3b9be;

}

.logo{
    flex: 1;
}

.logo img{
    width: 60px;
    margin-top: 5px;
    margin-right: 10px;
}

.login-icon{
    font-size: 20px;
    margin-top: 7px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

.isactive{
    color: rgb(0, 136, 255);
}

h1{
    color: #fff;
    text-align: center;
}

.form{
    width: 500px;
    padding: 20px;
    position:relative;
    text-align: center;
    margin: auto;
    display: block;
}

.back-to-index:hover{
    color: rgb(0, 136, 255);
}

#login-status {
    text-align: center; /* centers the elements inside the div */
}
  
#sign-in, #sign-out {
    /* other styles */
    display: inline-block;
}

input, textarea{
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

textarea{
    width: 450px;
    resize: none;
}

.header-form{
    color: #fff;
    font-size: 40px;
    padding-bottom: 20px;
}

input:focus{
    outline: none;
    border: 3px solid rgb(0, 136, 255);
}

input:focus::placeholder{
    color: transparent;
}

textarea:focus{
    outline: none;
    border: 3px solid rgb(0, 136, 255);
}

textarea:focus::placeholder{
    color: transparent;
}

.btn-form{
    background-color: rgb(0, 136, 255); /* Green */
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 12px 210px;
    display: inline-block;
}

.btn-form:hover{
    background-color: rgb(0, 106, 199);
    cursor: pointer;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
}

p{
    color: #fff;
}

.footer-text{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.footer-line{
    opacity: 50%;
    width: 80%;
    margin: 0 auto;
}

.icon-container{
    width: 500px;
    font-size: 35px;
    position:relative;
    text-align: center;
    margin: auto;
    display: block;
}
  
.fa-2x{
    margin-right: 10px;
}

.social-contact{
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 50px;
}

.card{
    width: 300px;
    height: 450px;
    border-radius: 15px;
    margin-top: 100px;
    background-color: #161b22;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px, rgb(0, 136, 255) 0px 0px 0px 0.5px, rgba(0, 0, 0, 0.26) 0px 10px 30px;
    margin-left: 50px;
}

.card-image{
    display: flex;
    justify-content: center;
}

.plr-card-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -28px;
}

.card-main-txt{
    text-align: center;
    color: #fff;
    font-size: 600;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

.card-desc{
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.card-btn{
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(0, 136, 255);
    color: #fff;
    border-radius: 10px;
    transition: 1s;
    border: none;
}

.card-btn:hover{
    background-color: rgb(0, 106, 199);
    transition: 1s;
    cursor: pointer;
}

.card-btn-cont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media screen and (max-width:600px){
    nav{
        display: block;
        position: relative;
    }

    .menu{
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .form{
        width: 100%;
    }

    input, textarea{
        width: 300px;
    }

    .btn-form{
        padding: 12px 110px;
    }

    .footer-text{
        font-size: 12px;
    }

    .social-contact{
        font-size: 15px;
    }

    .icon-container{
        width: 400px;
        font-size: 25px;
        position:relative;
        text-align: center;
        margin: auto;
        display: block;
    } 
}

@media screen and (max-width:400px){
    .social-contact{
        font-size: 15px;
    }

    .icon-container{
        width: 350px;
        font-size: 20px;
        position:relative;
        text-align: center;
        margin: auto;
        display: block;
    } 
}

@media screen and (max-width:350px){
    .form{
        width: 100%;
    }

    input, textarea{
        width: 200px;
    }

    .btn-form{
        padding: 12px 80px;
    }

    .footer-text{
        font-size: 8px;
    }

    .header-form{
        font-size: 25px;
    }

    .social-contact{
        font-size: 10px;
    }

    .icon-container{
        width: 300px;
        font-size: 15px;
        position:relative;
        text-align: center;
        margin: auto;
        display: block;
    } 
}

@media screen and (max-width:300px){
    .form{
        width: 100%;
    }

    input, textarea{
        width: 200px;
    }

    .btn-form{
        padding: 12px 80px;
    }

    .footer-text{
        font-size: 8px;
    }

    .header-form{
        font-size: 25px;
    }

    .icon-container{
        width: 300px;
        font-size: 12px;
    }
}

#success-img{
    position: fixed;
    top: 10px;
    left: 500px;
    width: 50%;
    z-index: 100;
}

::selection{
    color: #000000;
    background-color: #fff;
}

.fixedButton{
    position: fixed;
    bottom:0px;
    right: 40px; 
}
.roundedFixedBtn{
    font-size: 70px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
}
.name-index{
    color: rgb(0, 136, 255);
}
.header-index{
    padding-top: 30px;
    padding-bottom: 30px;
}
.intro-video{
    padding-top: 10px;
    text-align: center;
}
.intro-video-frame{
    width: 100%;
}
.header-about{
    padding-top: 30px;
}
.text-area-about{
    padding-top: 30px;
    width: 80%;
    margin-left: 175px;
    text-align: center;
}
.text-area-about-us{
    text-align: center;
    font-size: 20px;
}
.text-area-about-us:hover{
    color: rgb(0, 136, 255);
}